body{
    position: relative;
    width: 100%;
    margin: 0px;
    /*padding:5px;*/
    min-height: 100%;
    /*background: lightgrey;*/
    font-family: Roboto, Arial, sans-serif;
    padding: 1px;
}
body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}
.main_content ,#container{
    min-height: 700px;
}

a:focus, a:hover {
    color: unset;
    text-decoration: none;
}

hr{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #eee;
}
.page-title {
    font-size: 20px;
    margin: 3px 0px;
    border-bottom: 1px solid lightgray;
}
.page-message{
    font-size: 20px;
    /*background-color: lightgreen;*/
    margin: 0 auto;
    text-align: center;
    width: 51%;
    padding:3px;
}
/* ************** CART PAGE ***********/
table.cart-item tr td{
    padding: 10px;
    vertical-align: top;
    padding-right: 35px;
    border: 0px;
}

.cart-items{
    width: 66%;
    float: left;
    padding-left: 10px;
    position: relative;
}
.cart-sidebar {
    display: inline-block;
    float: right;
    width: 30%;
    padding: 15px ;
}
.cart-sidebar .title {
    font-size: 18px;
    font-weight: 500;
}
.cart-sidebar div {
    padding-bottom: 10px;
}
.btn-shopping{
    padding: 5px;
    background: forestgreen;
    width: 150px;
    text-decoration: initial;
    height: 50px;
}
.btn-shopping:hover{
    color:#fff;
}

.cart-item .subtotal{
    font-weight: 600;
}
.checkout_cart_index .page-title{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 600;
}
.item-info div {
    padding-bottom: 5px;
}
.item-info .name{
    font-size: 18px;
    font-weight: 500;
}
.action-wrapper {
     margin-top: 30px;
    display: inline-block;
}
.action-wrapper a {
    margin-right: 10px;
}
.grand-total{
    font-size: 20px;
    font-weight: 600;
}

/*******************CHECKOUT******/
.checkout-steps{
    display: inline;
    max-width: 70%;
    float: left;
}
.checkout-steps .step {
    /*width: 100%;*/
    background-color: #2ab27b;
    font-size: large;
    padding: 8px;
    color: #fff;
}
.checkout-steps .section {
    /*margin-bottom: 20px;*/
    pointer-events: none;
}
.checkout-steps .active {
    pointer-events: auto !important;
}

section {
    width: 100%;
}
form.side-form .address-left,form.side-form .address-right{
    display:inline-block;
    margin:10px;
    width: 50%;
}
/*/////////////// HEADER ///////////////////////*/
.main-header,.footer{
    width: 100%;
    font-size: 15px;
    color: white;
    background-color: #2AB285;
}
.main-header nav li{
    list-style: none;
    float: right;
    margin: 5px;
    padding: 5px;
}
a{
    color:white;
    text-decoration: none;
    outline: none;
}
.main-header .logo{
    /*max-width: 200px;*/
    float: left;
}
.account-menu{
    background-color: lightseagreen;
}
ul.account-menu li a{
    display: inline-block;
    padding: 3px 10px;
}
ul.account-menu li{
    float:left;
    padding-left: 5px;
}

.top-menu {
    float: right;
    /*margin-right: 5%;*/
}

.top-links li i {
    padding-right: 5px;
    font-size: 30px;
}

.search-box {
    width: 40%;
    display: inline-block;
}

.search-box .input-group {
    width: 100%
}

/*****************CUSTOMER *************/
.customer_register_form{
    margin: 0 auto;
    width:500px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color:#2AB285 !important;
    border-color: transparent !important;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.tab-content>.active {
    display: block;
    background: azure;
    min-height: 565px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
.nav-tabs>li {
    /*float: none !important;*/
    width: 100%;
    /*height: 50px;*/
}
.customer-tabs h3{
margin-top:1px;
    text-align: center;
}
.customer-tabs .tab-pane{
    padding: 8px;
}
.customer-tabs-column{
    background-color: #fff;
    padding: 0px;
    height: 100%;
}
.account-info img{
    float: left;
    margin-right: 15px;
}
    /*/////////////// FOOTER ///////////////////////*/
.product-info{
    text-align: center;
}
.product-info a {
    color: #2ab27b;
}


    /*/////////////// FOOTER ///////////////////////*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 50px;*/
}
.footer nav ul{
}
.footer nav ul li{
    display: inline-block;
    list-style: none;
    /*width:50px;*/
    height:auto;
    padding:20px 0px;
}

/********** HOME PAGE**********/
.home-gallery li {
    display: inline-block;
    max-height: 30%;
    padding: 5px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.home-gallery {
    padding: 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.home-gallery-label {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

.home-gallery li div.item-content {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.item-content .title {
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: green;
    padding-top: 5px;
}

.item-content .final-price {
    text-align: center;
    font-size: 18px;
}

.item-content img {
    width: 160px;
    max-width: 160px;
}

.home-gallery ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/******** CATEGORY LIST ******/
.category-list-item {
    background-color: #fff;
    margin-bottom: 8px;
    padding: 0px;
}

.category-list-item .img-box {
    text-align: center;
}

.category-view-main {
    background-color: #fff;
    margin: 8px;
}

.category-view-main .title {
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 2px;
}

.category-view-main .product-grid {
    padding-left: 0px;
    padding-right: 0px;
}

.product-grid {
    box-shadow: 0px 1px 10px 2px #2AB285;
    min-height: 100%;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.right-filter {
    margin-right: 25px;
}

.right-filter .panel-body {
    padding: 0px;
}

.right-filter .panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-filter .panel li {
    margin: 1.5%;
}

.right-filter .panel li span {
    text-transform: capitalize;
    margin-left: 20px;
}

.right-filter .panel ul {
    list-style: none;
}

.right-filter .panel li .field {
    min-width: 58px;
    display: inline-block;
}

.right-filter .panel li .colorBox {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid #2AB285;
    border-bottom: 16px solid red;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
    top: 20%;
    left: 35%;
    position: absolute;
}

.loader-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    opacity: 0.6;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}