.admin-main-wrapper, header, footer {
	background-color: #515763;
	font-size: 15px;
  /*position: fixed;*/
}
a{
	color:#fff;
}

.table td, .table th {
    padding: 0.40rem;
}
ul li, tr td {
   text-transform: capitalize;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
/*tr:nth-child(even){background-color: #f2f2f2}*/

.admin-main-wrapper{
	width:100%;
	padding:10px;
}
.zerostyle{
    /*padding:0px;*/
	list-style: none;
}

.zerostyle li.active {
    background: lightseagreen;
    text-align: center;
}

.horizontal-list{
	padding:0px;
	list-style: none;
	display: flex;
}
.horizontal-list li{
    width: 30px;
}
#sidebar-menu li{

}

.left-side{
	float: left;
  max-width: 20%;
  width: 18%;
}
.left-side,.right-side{
	display: inline-block;
}
.right-side{
	background-color: lightgray;
	color:#000;
  max-width: 85%;
	width: 82%;
	min-height: 700px;
  border-radius: 15px;
  padding: 6px;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}

.page-header{
   /*padding: 10px;*/
}
.page-header h3{
	padding:6px;
	background: #f1f1f1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #d0d0d0;
    min-height: 54px;
    height: auto;
    margin-bottom: 20px;
}

.messages{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.page-message {
    width: 25%;
    position: fixed;
    color: white;
    background-color: lightseagreen;
    /*border: 1px red solid;*/
    font-weight: 500;
    padding: 3px;
    text-transform: capitalize;
    z-index: 999;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}

/*.form-inline label ,.form-inline.invalid-feedback{
min-width: 20%;
max-width: 20%;
}*/

/* ADMIN FORM MODAL */
.admin-modal-wrapper {
    width: 100%;
}
.admin-modal-wrapper .right-side {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.admin-main-wrapper + .fancybox-container .fancybox-content {
    max-width: 94%;
    max-height: 95%;
}

.product-form-content label {
    min-width: 20%;
}
.product-form-content .form-control{
  width:50% !important;
}

.product-form-content input[type=radio] {
    width: 5% !important;
}
.invalid-feedback{
  text-align: center;
}
.subproduct_table{
  width:60%;
}
.subproduct_table tr td{
  padding:5px;
}
ul.category_list_checkbox li{
display: inline-block;
}

.gallery-item ul li {
    display: inline-block;
    padding: 5px;
}


/*ADMIN ALL FORMS EXCEPT PRODUCT FORM*/
.admin-form .content{
    margin-top: 15px;
    /*border-top: 2px green solid;*/
    width: 100%
}
.status-radio {
  float: left;
  text-align: right;
  /*margin-left: 15px;*/
}

.admin-form form label {
  min-width: 20%;
  float: left;
  text-align: right;
  margin-right: 15px;
}
.admin-form .form-control {
  width:50% !important;
}
.admin-form  input[type=radio] ,.admin-form  input[type=checkbox]{
    width: 30px !important;
    height: 25px;
    /*margin-top: 10px;*/
}

.admin-form .content ul{
  padding:0px;
}
.admin-form .content ul li{
  padding:3px;
}


.admin-form .selectContent{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 26px;
}
.selectContent .value {
      padding: 10px;
}
ul.attribute-list {
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
}